@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=EB+Garamond&display=swap');

* {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

:root {
  --title-font: 'Gabriela', serif;
  --logo-font: 'EB Garamond', serif;
  --main: #069706;
  --main-dark: #055d05;
  --main-light: #7ae07a;
  --support: #e1c005;
  --light: #fafafa;
  --dark: #111;
  --grey-1: #333;
  --grey-2: #777;
  --grey-3: #aaa;
  --grey-4: #ccc;
  --grey-5: #eee;                
  --grey-6: #f8f8f8;                       
  --closed: #f43131;
  --border-radius: 0.1875rem;
  --transitioning: all 0.5s ease-in-out;
}

.logo-font {
  font-family: var(--logo-font);
  font-size: 2.2rem;
  color: var(--main-dark);
  text-align: center;
}

.title-font {
  font-family: var(--title-font);
}

.app-wrapper {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}