@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=EB+Garamond&display=swap');

:root {
  --title-font: 'Gabriela', serif;
  --logo-font: 'EB Garamond', serif;
  --main: #069706;
  --main-dark: #055d05;
  --main-light: #7ae07a;
  --support: #e1c005;
  --light: #fafafa;
  --dark: #111;
  --grey-1: #333;
  --grey-2: #777;
  --grey-3: #aaa;
  --grey-4: #ccc;
  --grey-5: #eee;                
  --grey-6: #f8f8f8;                       
  --closed: #f43131;
  --border-radius: 0.1875rem;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  --transitioning: all 0.5s ease-in-out;
}

* {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-font {
  font-family: var(--logo-font);
  font-size: 2.2rem;
  color: var(--main-dark);
  text-align: center;
}

.title-font {
  font-family: var(--title-font);
}

.btn {
  border-radius: var(--border-radius);
  border: 1px solid var(--main-dark);
  background-color: transparent;
  padding: 6px 12px;
  outline: none;
  transition: var(--transitioning);
  cursor: pointer;
}

.icon-light,
.solid-btn {
  background-color: var(--main-dark);
  color: var(--light)
}

.solid-btn:hover {
  border-color: var(--main);
  background-color: var(--main);
}

.icon-dark,
.outline-btn {
  color: var(--main-dark)
}

.icon-dark:hover,
.outline-btn:hover {
  border-color: var(--main);
  color: var(--main);
}

.app-wrapper {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.task-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--grey-6);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  gap: 10px;
}

.task-item-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.task-item-checked {
  margin-right: 10px;
}

.task-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 8px;
}

.priority-tag {
  background-color: var(--main);
  color: var(--light);
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
  display: inline-block;
}

.task-item-button-wrapper {
  display: flex;
  gap: 10px;
}