@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=EB+Garamond&display=swap');

:root {
  --title-font: 'Gabriela', serif;
  --logo-font: 'EB Garamond', serif;
  --main: #069706;
  --main-dark: #055d05;
  --main-light: #7ae07a;
  --support: #e1c005;
  --light: #fafafa;
  --dark: #111;
  --grey-1: #333;
  --grey-2: #777;
  --grey-3: #aaa;
  --grey-4: #ccc;
  --grey-5: #eee;
  --grey-6: #f8f8f8;
  --closed: #f43131;
  --border-radius: 0.1875rem;
  --box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.09);
  --transitioning: all 0.5s ease-in-out;
}

* {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logo-font {
  font-family: var(--logo-font);
  font-size: 3rem;
  color: var(--main-dark);
  text-align: center;
  margin-bottom: 10px;
}

.btn {
  border-radius: var(--border-radius);
  border: 1px solid var(--main-dark);
  background-color: transparent;
  padding: 6px 12px;
  outline: none;
  transition: var(--transitioning);
  cursor: pointer;
}

.solid-btn {
  background-color: var(--main-dark);
  color: var(--light)
}

.solid-btn:hover {
  border-color: var(--main);
  background-color: var(--main);
}

.outline-btn {
  color: var(--main-dark)
}

.outline-btn:hover {
  border-color: var(--main);
  color: var(--main);
}

.plain-btn {
  background-color: transparent;
  border: none;
  outline: none;
  transition: var(--transitioning);
  cursor: pointer;
  font-size: 16px;
}

.plain-btn:hover,
.plain-btn:hover i {
  color: var(--main);
}

.task-form-wrapper {
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 12px;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.task-form-wrapper input {
  border: 1px solid var(--grey-2);
  border-radius: var(--border-radius);
  padding: 5px;
  outline: none;
  transition: var(--transitioning);
  cursor: pointer;
}

.task-form-wrapper input:hover,
.task-form-wrapper input:focus {
  border-color: var(--main);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.task-form-btn {
  display: block;
  margin: 10px auto 0;
  font-size: 28px;
}

.task-controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid var(--grey-4);
  border-bottom: 1px solid var(--grey-4);
}

.task-controls-label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.checkbox {
  margin-right: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 10px;
}

.task-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  border: 1px solid var(--grey-5);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--light);
  gap: 16px;
}

.task-item-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.priority-tag {
  background-color: var(--main);
  color: var(--light);
  border-radius: var(--border-radius);
  padding: 3px 6px;
  font-size: 11px;
  font-weight: 600;
}

.task-item-button-wrapper {
  display: flex;
  gap: 12px;
}